.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* gap: 50px; */
}
.card-image{
  background-color: gray;
}
.card-image > img{
  height: 200px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  border: 1px solid black;
}